body{
  background: linear-gradient(to right, #00DFFC, #005F6B);
  
}

.button{
  background-color: #E0E0E0;
  border: none;
  color: #82837E;
  width: 75px;
  height: 75px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  cursor: pointer;
}

.textview{
  width: 305px;
  font-size: 50px;
  margin: 5px;
  color: #82837E;
  background-color: #E0E0E0;
}

.main{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
